<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <label class="picture" for="picture__input" tabindex="0">
    <span class="picture__image"></span>
  </label>
  <input type="file" accept="image/*" id="picture__input"/>

  <ion-card style="width: 34%; display: flex; justify-content:center; border-radius: 20px; margin-left: 33%; background-color: #25D9D9">
    <ion-card-title style="font-size: 23px;">{{dataAtual}}</ion-card-title>
  </ion-card>



</ion-content>
