#picture__input {
  display: none;
}

.picture {
  width: 400px;
  aspect-ratio: 16/9;
  background: rgb(228, 199, 213);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(211, 145, 178);
  border: 2px dashed rgb(211, 145, 178);
  border-radius: 20px;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.picture:hover {
  color: rgb(0, 0, 0);
  background: rgba(187, 135, 161, 0.788);;
}
